html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

p {
  margin: 0;
}

nav {
  background-color: #fcb891;
  height: 10vh;
  line-height: 10vh;
}

main {
  height: 90vh;
  display: flex;
}

.sidebar {
  background-color: #000;
  width: 25vw;
  line-height: 10vh;
  transition: all 0.2s ease;
  position: relative;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  height: 25%;
  transition: height 0.1s ease-in;
}

.active {
 height: 90vh; 
 line-height: 90vh;
}

.closed {
  width: 0;
}

.toggle {
  position: absolute;
  right: -33px;
  top: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%; 
}




